name: Publicar Tasa BCV
on:
  schedule:
    - cron: '15 9 * * 2-5'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: |
          pip install requests beautifulsoup4

      - name: Ejecutar script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_WEBHOOK_2: ${{ secrets.DISCORD_WEBHOOK_2 }}
        run: python bot.py
